body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    margin: 0;
    font-family: Arial, sans-serif;
}

.semaforo{
    width: 120px;
    padding: 20px;
    background: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.luz{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    margin: auto;
    transition: background 0.3s;
}

.botones{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button{
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}