body{
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'segoe UI', sans-serif;
}

.clock-container{
    background-color: #1e293b;
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba (0,0,0,0.4);
}

#clock{
    color: #38bdf8;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
}