body{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: Arial,sans-serif;
}

.corousel{
    position: relative;
    width: 650px;
    height: 300px;
    overflow: hidden;
}

.corousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.6s ease-is-out;
}
/**/
.carousel img.show{
    opacity: 1;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 32px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10;
}
.prev{left: 10px;}
.next{right: 10px;}

.btn:hover{
    background: rgba(0, 0, 0, 0.7);
}